---
import Hero from '../components/Hero.jsx';
import './src/styles/global.css'


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>React Hero Test</title>
  </head>
  <body>
    <Hero client:load />
  </body> 
</html>
