---
const {blog_header} =Astro.props;
---




<div class="mb-10 md:mb-6">
  <h2
    class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
  >
    {blog_header.title}
  </h2>

  <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
    {blog_header.description}
  </p>
</div>
