        <section class="py-9 mb-24 px-4 md:px-8">
            <div class="bg-white   text-black">
                <div class="grid md:grid-cols-2 items-center gap-16 max-w-screen-2xl mx-auto">
                    <div>
                        <h1 class="text-4xl font-bold text-[#ff4f1f]">Startup Website Template</h1>
                        <p class="mt-6 text-sm ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                            accumsan, nunc
                            et
                            tempus blandit, metus mi consectetur nibh, a pharetra fselis turpis vitae ligula. Etiam
                            laoreet
                            velit nec
                            neque
                            ultrices, non consequat mauris tincidunt.</p>
                    </div>
                    <div class="grid sm:grid-cols-2 gap-6">
                        <div class="bg-gray-100 flex flex-col items-center text-center rounded md:p-8 p-6">
                            <h3 class="lg:text-5xl text-3xl font-extrabold text-[#ff4f1f]">5.4</h3>
                            <div class="mt-4">
                                <p class="text-sm ">Total Users</p>
                            </div>
                        </div>
                        <div class="bg-gray-100 flex flex-col items-center text-center rounded md:p-8 p-6">
                            <h3 class="lg:text-5xl text-3xl font-extrabold text-[#ff4f1f]">$80K</h3>
                            <div class="mt-4">
                                <p class="text-sm ">Revenue</p>
                            </div>
                        </div>
                        <div class="bg-gray-100 flex flex-col items-center text-center rounded md:p-8 p-6">
                            <h3 class="lg:text-5xl text-3xl font-extrabold text-[#ff4f1f]">100K</h3>
                            <div class="mt-4">
                                <p class="text-sm ">Engagement</p>
                            </div>
                        </div>
                        <div class="bg-gray-100 flex flex-col items-center text-center rounded md:p-8 p-6">
                            <h3 class="lg:text-5xl text-3xl font-extrabold text-[#ff4f1f]">99.9%</h3>
                            <div class="mt-4">
                                <p class="text-sm ">Server Uptime</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>